<template>
  <div class="container">
    <div class="type1 gradientbg" />
    <div class="type2 gradientbg" />

  </div>
</template>

<style scoped>
.container {
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.gradientbg {
  margin: 2em;
  width: 50%;
  height: 200px;

  position: relative;

  border: 2px solid #ffffff99;



}

.type1::after {

  content: '';

  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;


  background-image: linear-gradient(to bottom, #c0000066 50%, transparent 50%);
  background-repeat: repeat;
  background-size: 5px 5px;
  //filter: blur(1px);

}

.type2::after {
  content: '';

  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;

  background-image: radial-gradient(circle, #c0000066 50%, transparent 50%);
  background-repeat: repeat;
  background-size: 5px 5px;
}

</style>
