<template>
  <div class="container">

    <div
      v-for="index in 1"
      :key="`glitch_${index}`"
      :style="{}"
      class="glitch">

    </div>

  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'BackgroundGlitch',
  methods: {
    glitch_style(){

      //const glitch_x = Math.random() * 50
      const glitch_x = Math.random() * 0
      const glitch_y = Math.random() * 50

      const glitch_height = Math.random() * 10
      //const glitch_width = Math.random() * 50

      //const glitch_end_x = 100 - (glitch_x + glitch_width)
      const glitch_end_x = 0
      const glitch_end_y = 100 - (glitch_y + glitch_height)

      const glitch_intensity_x = Math.random() * 50
      const glitch_intensity_y = Math.random() * 50

      return {


        'clip-path': `inset(${glitch_y}% ${glitch_end_x}% ${glitch_end_y}% ${glitch_x}%)`,
        'transform': `translate(${glitch_intensity_x}px, ${glitch_intensity_y}px)`

      }
    }
  }

}
</script>

<style scoped>
.container {
  height: 100%;
  background-image: url('~@/assets/pexels-emiliano-arano-3608311.jpg');
  background-size: auto;
  position: relative;
  overflow: hidden;
}

.glitch {
  position: absolute;
  background-image: url('~@/assets/pexels-emiliano-arano-3608311.jpg');
  background-size: auto;
  //background-color: black;
  top: 0;
  left: -20px;
  bottom: 0;
  right: -20px;
  //transform: translate(10px, 0);
  animation-name: glitch;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;

}

@keyframes glitch {
  0% { clip-path: inset(30% 0% 60% 0%); }
  25% { clip-path: inset(60% 0% 30% 0%); }
  50% { clip-path: inset(90% 0% 0% 0%); }
  75% { clip-path: inset(50% 0% 40% 0%); }
  100% { clip-path: inset(0% 0% 90% 0%); }


}
</style>
