<template>
  <div class="home">
    <div class="box">ACTIVATED</div>
  </div>
</template>

<style scoped>

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('~@/assets/pexels-emiliano-arano-3608311.jpg');
  background-size: cover;

  font-family: 'Roboto';

}


.box{
  position: relative;

  width: 200px;
  height: auto;
  margin: 2em;

  padding: 0.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff2a6;
  border: 1px solid #fff2a6;

  box-shadow: 0 0 5px #ffa812, inset 0 0 5px #ffa812;
  text-shadow: 0 0 5px #ffa812;

  /* probably need a border-image */



}

.box::before {
  content: '';

  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;


  background-color: #ff9d0044;
  //box-shadow: 0 0 10px #ff9d00;
}

</style>
