<template>
  <div class="wrapper">

    <div class="">
      Normal container
    </div>

    <div class="">
      <button type="button" @click="toggle">Expand / Collapse</button>
    </div>

    <div
      class="collapsible_container">
      <div
        ref="content"
        class="collapsible_content"
        :class="{expanded:open}">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="">
      Normal container
    </div>


  </div>
</template>

<script>


export default {
  components: {

  },
  data(){
    return {
      open: false,
    }
  },
  mounted(){

  },
  watch: {

  },
  methods: {
    toggle(){
      this.open = !this.open
    },
  },
  computed: {
    containerHeight(){
      // NOT RESPONSIVE WITH WINDOW RESIZE
      if(this.open) return getComputedStyle(this.$refs.content).height
      else return "0px";
    },
    contentHeight(){
      // NOT RESPONSIVE
      if(!this.open) return
      return getComputedStyle(this.$refs.content).height
    }
  }
}
</script>


<style scoped>

.wrapper {
  background-color: #dddddd;
  height: 100vh;
}

.collapsible_container {
  overflow-y: hidden;
  outline: 1px solid red;
  transition: 0.25s;
  display: flex;
  align-items: flex-end;
}

.collapsible_content {

  transition: 0.25s;
  transform: translateY(-100%);

  /*
  THIS IS % OF CONTAINER WIDTH
  Thus, it will not work if the collapsible height is larger than the width of the container
  */
  /* margin-top: -100%;*/
}

.collapsible_content.expanded {
  /*margin-top: 0;*/
  transform: translateY(0%);
}

</style>
