<template>
  <div class="wrapper">

    <header>

      <!-- The actual thing -->
      <span
        class="opening_menu">

        <button
          type="button"
          :class="{visible: open}"
          @click="toggle()">

          <MenuIcon class="icon"/>
          <label>Menu</label>

        </button>

        <!-- Overlay button -->
        <transition name="fade">
          <button
            v-if="open"
            type="button"
            class="overlay_button"
            @click="close()">

            <CloseIcon class="icon"/>
            <label>Close</label>

          </button>
        </transition>

        <!-- Empty dark overlay background -->
        <transition name="fade">
          <div
            v-if="open"
            class="menu_overlay_background"
            @click="close()"/>
        </transition>

        <!-- Menu -->
        <div
          v-if="true"
          class="menu_content_outer"
          :class="{visible: open}">

          <!-- Having to add a div is not optimal -->
          <div class="menu_content_inner">

            <div
              class="menu_item"
              v-for="i in 3"
              :key="`item_${i}`">
              Menu item {{i}}
            </div>

          </div>
        </div>


      </span>


    </header>




  </div>
</template>

<script>
// @ is an alias to /src
import MenuIcon from 'vue-material-design-icons/Menu.vue';
import CloseIcon from 'vue-material-design-icons/Close.vue';

import 'vue-material-design-icons/styles.css';

export default {
  name: 'MenuButtonOpen',
  components: {
    MenuIcon,
    CloseIcon
  },
  data(){
    return {
      open: false,
    }
  },
  methods: {
    toggle(){
      this.open = !this.open
    },
    close(){
      this.open = false
    }
  }
}
</script>


<style scoped>

.wrapper {
  background-color: #dddddd;
  height: 100%;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.opening_menu {
  position: relative;
  //width: 2em;
  //outline: 1px solid red;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 200%;
  cursor: pointer;
  background-color: white;
  border: none;
  outline: none;

  padding: 0.5em;
}

button label {
  margin-top: 0.5em;
  font-size: 40%;
}

.menu_content_outer {
  position: absolute;
  z-index: 100;
  background-color: white;
  //left: 0;
  right: 0;

  /* right below the button */
  top: 100%;



  transform:
    translateY(-50%)
    scaleY(0);


  transition: 0.25s;
  white-space: nowrap;
}

.menu_content_outer:not(.visible) {
  transition-delay: 0.25s;
}

.menu_content_outer.visible {
  transition-delay: 0s;

  transform:
    translateY(0)
    scaleY(1);

}

.menu_content_inner {
  opacity: 0;
  transition: 0.25s;
}

.menu_content_outer:not(.visible) .menu_content_inner {
  transition-delay: 0;
}


.menu_content_outer.visible .menu_content_inner {
  transition-delay: 0.25s;
  opacity: 1;
}


.menu_item {
  padding: 1em;
  font-size: 120%;
  //width: 200px;
  text-align: center;
  cursor: pointer;
}

.menu_item:hover {
  color: #c00000;
}

.overlay_button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.menu_overlay_background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #00000044;
}

</style>
