<template>
  <div class="home">

    <div class="mydiv">
      TEST
    </div>


  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {

  }
}
</script>


<style scoped>

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;

  background-color: #111111;

  color: white;


}

.mydiv {
  position: relative;
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;


  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;


}

.mydiv::before {
  content: '';
  position: absolute;

  z-index: 10;

  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;




  border: 1px solid white;

  animation-name: opening;
  animation-duration: 1s;
  animation-fill-mode: both;

  /* glowing effect */
  /*box-shadow: 0 0 5px white, inset 0 0 5px white;*/

}

@keyframes opening {
  /* an alternative would be to use width and height */
  0% {top: 50%; left: 50%; bottom: 50%; right: 50%;}
  50% {top: 50%; left: 0; bottom: 50%; right: 0;}
  100% {top: 0; left: 0; bottom: 0; right: 0;}
}

@keyframes fade {
  /* dirty */
  0% {color: #111111}
  100% {opacity: white}
}

</style>
