<template>
  <div class="about">
    <div class="circle" />
    <svg>
      <filter id="wavy">
        <feTurbulence x="0" y="0" baseFrequency="0.009" numOctaves="10" seed="3">
          <animate attributeName="baseFrequency" dur="60s" values="0.02;0.005;0.02" repeatCount="indefinite" />
        </feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="30" />
      </filter>
    </svg>
  </div>
</template>

<style scoped>
.about {
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle {
  position: relative;
  width: 600px;
  height: 600px;
  filter: url(#wavy);
}

.circle::before{
  content: '';
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 50px #c00000,
              inset 0 0 50px #c00000;
}

svg {
  width: 0;
  height: 0;
}

</style>
