<template>
  <div class="">
    <div class="container">
      {{text}}

      <div
        v-for="index in 1"
        :key="`glitch_${index}`"
        :style="{}"
        class="glitch">
        {{text}}
      </div>

    </div>
  </div>

</template>

<script>
// @ is an alias to /src

export default {
  name: 'TextGlitch',
  data(){
    return {
      text : 'example text',
    }
  },
  methods: {

  }

}
</script>

<style scoped>
.container {
  font-size: 200%;
  height: 100%;
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden;

}

.glitch {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0px;
  bottom: 0;
  right: 0px;
  transform: translate(0.1em, 0);
  //padding: 0 -3px;
  animation-name: glitch;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;

}

@keyframes glitch {
  0% { clip-path: inset(30% 0% 60% 0%); }
  25% { clip-path: inset(60% 0% 30% 0%); }
  50% { clip-path: inset(90% 0% 0% 0%); }
  75% { clip-path: inset(50% 0% 40% 0%); }
  100% { clip-path: inset(0% 0% 90% 0%); }


}
</style>
