<template>
  <div class="home">
    <div class="warning_wrapper" v-if="true">
      <div class="warning_inner">
        <div class="warning_animated_bar"/>
        <div class="warning_message">
          ERROR
        </div>
        <div class="warning_animated_bar"/>
      </div>
    </div>
  </div>
</template>

<style scoped>

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.home {
  height: 100%;
  background-color: #444444;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-family: 'Roboto';

}

.warning_wrapper {
  color: #dddddd;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00000066;
}
.warning_inner {
  background-color: #c0000022;
  font-size: 180%;
  padding: 0.5em;
  border: 3px solid #c00000;
}

.warning_message {
  margin: 0.5em 1em;
}

.warning_animated_bar {
  height: 1em;
  width: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 12%, rgba(192,0,0,0.8) 13%, rgba(192,0,0,0.8) 37%, rgba(0,0,0,0) 38%, rgba(0,0,0,0) 62%, rgba(192,0,0,0.8) 63%, rgba(192,0,0,0.8) 87%, rgba(0,0,0,0) 88%, rgba(0,0,0,0) 100%);
  background-size: 80px 80px;


  animation-name: gradient_animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;

}

@keyframes gradient_animation {
    0%{background-position:0% 0}
    100%{background-position:80px 0}
}


</style>
