<template>
  <div id="app">

    <Navigation />
    <router-view/>

  </div>
</template>
<script>
import Navigation from '@/components/Navigation.vue'

export default {
  components: {
    Navigation
  },

}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
}

/* might not want to have this here */

#app {
  position: relative;
  height: 100vh;
  width: 100%;
}



</style>
